node_modules/

.env
.env.*

*.log

/build/
/dist/

# Игнориране на папката за кеширане на IDE-та (например VSCode)
.vscode/

# Игнориране на зависимостите за client-side, ако са в конкретна папка
client/node_modules/
server/node_modules/
